* {
  margin: 0;
  /* padding: 0; */
  font-family: "Roboto", sans-serif;
}
html {
  margin: 0;
  padding: 0;
  background-color: rgb(238, 244, 255);
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
  /* font-family: "Playfair Display", serif; */
}
h3 {
  font-size: 2vw;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: rgba(225, 71, 54, 1);
}
